<p id="notice"><%= notice %></p>


<h1>Scraped Data</h1>

<dl class="dl-horizontal">
	<dt>Url: </dt>
	<dd><%= @scrapper.url %></dd>
	<dt>Title: </dt>
	<dd><%= @metatags.title%></dd>
	<dt> Meta Tag Description:</dt> 
	<dd><%= @metatags.meta_tags["name"]["description"].first %></dd>
	<dt> Meta Tag Keywords:</dt> 
	<dd><%= @metatags.meta_tags["name"]["keywords"].first %></dd>
</dl>


<table class="table table-hover">
   <thead>
     <tr class="success">
       <th>Product Name</th>
       <th>Price</th>
       <th>Rating</th>
       <th>COD</th>
     </tr>
   </thead>

   <tbody>
     <% @doc.each do |item| %>
       <tr class ="info">
         <td><%= item.css(".s-access-title").text %></td>
         <td><%= item.css(".s-price").text %></td>
         <td><%= item.css("span+ .a-text-normal").text %></td>
         <td><%= item.css(".a-spacing-top-mini").text%></td>
       </tr>
     <% end %>
   </tbody>
</table>


<%= link_to 'Edit', edit_scrapper_path(@scrapper) %> |
<%= link_to 'Back', scrappers_path %>